html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
}

#elapsed {
  position: absolute;
  right: 0;
}

#world {
  background-color: blanchedalmond;
  min-height: 100vh;
}

#body {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
